<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
</div>
<h2> This page is solely made to assist playing the board game Decrypto. The website is only made to help in the selection of words and codes in case of missing cards from the actual deck. All rights to the game are that of Decrypto and the developers have no link to the actual game itself. With that said, here are some links to help understand the game before we begin : </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.scorpionmasque.com/sites/scorpionmasque.com/files/decrypto_en_rules_14nov2017.pdf">Rulebook</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="http://www.decrypto.info/">Download sheet to play the game</a></h2>
  </li>
</ul>
<div style="text-align:center">
  <button id="play_button" (click)="play();">
    <span>Play</span>
  </button>
</div>